process {
    publishDir = {"./results_QC/$task.process"}
    scratch = true
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
}

params {
    bet_dwi_skip = 2
    bet_dwi_nb_threads = 4
    bet_dwi_nb_columns = 15

    bet_t1_skip = 2
    bet_t1_nb_threads = 4
    bet_t1_nb_columns = 20

    denoise_dwi_skip = 2
    denoise_dwi_nb_threads = 4
    denoise_dwi_nb_columns = 15

    denoise_t1_skip = 2
    denoise_t1_nb_threads = 4
    denoise_t1_nb_columns = 20

    eddy_topup_skip = 2
    eddy_topup_nb_threads = 4
    eddy_topup_nb_columns = 15

    resample_dwi_skip = 2
    resample_dwi_nb_threads = 4
    resample_dwi_nb_columns = 20

    resample_t1_skip = 2
    resample_t1_nb_threads = 4
    resample_t1_nb_columns = 20

    dti_skip = 2
    dti_nb_threads = 4
    dti_nb_columns= 20

    frf_nb_threads = 1

    fodf_skip = 2
    fodf_nb_threads = 4
    fodf_nb_columns = 20

    tracking_nb_threads = 1

    segment_tissues_nb_threads = 4
    segment_tissues_skip = 2
    segment_tissues_nb_columns = 20

    pft_maps_nb_threads = 4
    pft_maps_skip = 2
    pft_maps_nb_columns = 20

    register_nb_threads = 4
    register_skip = 2
    register_nb_columns = 20
}

env {
    ITK_GLOBAL_DEFAULT_NUMBER_OF_THREADS=1
    MRTRIX_NTHREADS=1
    OMP_NUM_THREADS=1
    OPENBLAS_NUM_THREADS=1
}

singularity.autoMounts = true