process {
    publishDir = {"./results_QC/$task.process"}
    scratch = false
    errorStrategy = { task.attempt <= 3 ? 'retry' : 'ignore' }
    maxRetries = 3
    maxErrors = -1
    stageInMode = 'symlink'
    stageOutMode = 'rsync'
}

params {
    bet_dwi_skip = 2
    bet_dwi_nb_threads = 4
    bet_dwi_nb_columns = 10

    bet_t1_skip = 2
    bet_t1_nb_threads = 4
    bet_t1_nb_columns = 20

    denoise_dwi_skip = 2
    denoise_dwi_nb_threads = 4
    denoise_dwi_nb_columns = 10

    denoise_t1_skip = 2
    denoise_t1_nb_threads = 4
    denoise_t1_nb_columns = 20

    eddy_topup_skip = 2
    eddy_topup_nb_threads = 4
    eddy_topup_nb_columns = 10
    eddy_topup_duration = 500

    resample_dwi_skip = 2
    resample_dwi_nb_threads = 4
    resample_dwi_nb_columns = 20

    resample_t1_skip = 2
    resample_t1_nb_threads = 4
    resample_t1_nb_columns = 20

    dti_skip = 2
    dti_nb_threads = 4
    dti_nb_columns= 20

    frf_nb_threads = 1

    fodf_skip = 2
    fodf_nb_threads = 4
    fodf_nb_columns = 20

    tracking_nb_threads = 1

    segment_tissues_nb_threads = 4
    segment_tissues_skip = 2
    segment_tissues_nb_columns = 20

    pft_maps_nb_threads = 4
    pft_maps_skip = 2
    pft_maps_nb_columns = 20

    register_nb_threads = 4
    register_skip = 2
    register_nb_columns = 20

    dwi_protocol_tol = 20

    raw_t1_skip = 2
    raw_t1_nb_threads = 4
    raw_t1_nb_columns = 20

    raw_dwi_skip = 2
    raw_dwi_nb_threads = 4
    raw_dwi_nb_columns = 10

    local_tracking_mask_nb_threads = 4
    local_tracking_mask_skip = 2
    local_tracking_mask_nb_columns = 20

    local_seeding_mask_nb_threads = 4
    local_seeding_mask_skip = 2
    local_seeding_mask_nb_columns = 20

    run_qc_bet_dwi = false
    run_qc_bet_t1 = false
    run_qc_denoise_dwi = false
    run_qc_denoise_t1 = false
    run_qc_eddy_topup = false
    run_qc_resample_dwi = false
    run_qc_resample_t1 = false
    run_qc_dti = false
    run_qc_frf = false
    run_qc_fodf = false
    run_qc_tracking = false
    run_qc_segment_tissues = false
    run_qc_pft_maps = false
    run_qc_register_t1 = false
    run_qc_dwi_protocol = false
    run_raw_t1 = false
    run_raw_dwi = false
    run_qc_rbx = false
    run_qc_tracking_mask = false
    run_qc_seeding_mask = false
}

env {
    ITK_GLOBAL_DEFAULT_NUMBER_OF_THREADS=1
    MRTRIX_NTHREADS=1
    OMP_NUM_THREADS=1
    OPENBLAS_NUM_THREADS=1
}

singularity.autoMounts = true

profiles {

    input_qc {
        params.run_qc_dwi_protocol = true
        params.run_raw_t1 = true
        params.run_raw_dwi = true
    }

    tractoflow_qc_all {
        params.run_qc_bet_dwi = true
        params.run_qc_bet_t1 = true
        params.run_qc_denoise_dwi = true
        params.run_qc_denoise_t1 = true
        params.run_qc_eddy_topup = true
        params.run_qc_resample_dwi = true
        params.run_qc_resample_t1 = true
        params.run_qc_dti = true
        params.run_qc_frf = true
        params.run_qc_fodf = true
        params.run_qc_tracking = true
        params.run_qc_segment_tissues = true
        params.run_qc_pft_maps = true
        params.run_qc_register_t1 = true
        params.run_qc_tracking_mask = true
        params.run_qc_seeding_mask = true
    }

    tractoflow_qc_light {
        params.run_qc_bet_dwi = true
        params.run_qc_bet_t1 = true
        params.run_qc_eddy_topup = true
        params.run_qc_dti = true
        params.run_qc_frf = true
        params.run_qc_fodf = true
        params.run_qc_tracking = true
        params.run_qc_pft_maps = true
        params.run_qc_register_t1 = true
        params.run_qc_tracking_mask = true
        params.run_qc_seeding_mask = true
    }

    rbx_qc {
        params.run_qc_rbx = true
    }

}
